@charset "UTF-8";
.border-contacto {
  border: white;
}

caja1 {
  height: 10px;
  widht: 10px;
}

caja2 {
  height: 25px;
  widht: 25px;
}

.nivel-pagina {
  background-color: cyan;
}

.nivel-pagina {
  background-color: purple;
}

.nivel-pagina {
  background-color: violet;
}

.nivel-pagina {
  background-color: pink;
}

.nivel-pagina {
  background-color: green;
}

.nivel-pagina {
  background-color: grey;
}

.nivel-pagina {
  background-color: yellow;
}

.nivel-pagina {
  background-color: blue;
}

.nivel-pagina {
  background-color: red;
}

* {
  font-family: sans-serif;
}

header, nav, section, main, footer {
  padding: 10px;
}

header {
  grid-area: header;
  text-align: center;
  background-color: #FEDCD2;
}

nav {
  grid-area: nav;
  display: flex;
  flex-flow: column nowrap;
  background-color: #BFD8D2;
}

section {
  grid-area: section;
  flex-flow: wrap;
  background-color: #BFD8D2;
}

main {
  grid-area: main;
  background-color: #BFD8D2;
}

aside {
  grid-area: lateral;
  background-color: #BFD8D2;
}

footer {
  grid-area: footer;
  text-align: center;
  color: black;
  background-color: #BFD8D2;
}

body {
  width: 100%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0px;
  list-style: none;
}

.tituloColumna {
  margin: 5px;
  margin-left: 35px;
}

.degradadoHeader {
  background: linear-gradient(#DF744A, #DCB239);
}

.listaAnimada {
  animation-name: texto;
  animation-duration: 2s;
}

.subLista {
  margin-left: 5px;
  font-size: small;
}

.lista {
  margin: 5px;
  padding: 10px 15px;
  border-radius: 10%/50%;
  background: #FEDCD2;
  color: black;
}

.naranja {
  background-color: #DF744A;
}

.niveles {
  display: inline-block;
  margin: 10px 40px;
  padding: 40px;
  background-color: #FEDCD2;
}

.niveles:hover {
  transform: rotate(5deg);
}

.botonNiveles {
  margin: 0px;
}

.contactoFormulario {
  margin: 2px;
  padding: 0px;
}

.contactoEntreFormularios {
  margin-bottom: 15px;
}

.click:hover {
  opacity: 0.5;
}

.largo {
  height: 200vh;
}

.contactoBarra {
  width: 20%;
}

.limite {
  height: 550px;
}

.tamañoCarrusel {
  height: 65vh;
}

.fondoCarrusel {
  background-color: none;
}

.navIndex {
  height: 125vh;
}

.sectionIndex {
  margin: 0px;
  padding: 0px;
}

.textoCentrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.letraCarrusel {
  font-size: x-large;
  color: white;
}

.letraCarrusel2 {
  font-size: x-large;
}

.lecturaCortazar {
  margin-left: 80px;
  margin-top: 30px;
}

.lecturaTitulo {
  margin-left: 80px;
  margin-top: 20px;
}

.indexLectura {
  text-align: center;
}

.lecturaMenu {
  width: 60%;
  margin-left: 10%;
  margin-top: 5%;
}

.colorFondo1 {
  background-color: #DF744A;
}

.colorFondo2 {
  background-color: #FEDCD2;
}

#grid-index {
  display: grid;
  grid-template-areas: "header header header" "nav section lateral" "nav main lateral" "footer footer footer";
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  background-color: #BFD8D2;
}

#grid-niveles {
  display: grid;
  grid-template-areas: "header header header" "nav section lateral" "nav main lateral" "footer footer footer";
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  background-color: #BFD8D2;
}

#grid-contacto {
  display: grid;
  grid-template-areas: "header header header" "nav main main" "footer footer footer";
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr 6fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  height: 950px;
  background-color: #BFD8D2;
}

#grid-lecturas {
  display: grid;
  grid-template-areas: "header header header" "nav section section" "footer footer footer";
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr 3fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  background-color: #BFD8D2;
}

@keyframes texto {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
  }
}
@media (min-width: 1024px) {
  #grid-index {
    display: grid;
    grid-template-areas: "header header header" "nav section lateral" "nav main lateral" "footer footer footer";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  #grid-niveles {
    display: grid;
    grid-template-areas: "header header header" "nav section lateral" "nav main lateral" "footer footer footer";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  #grid-contacto {
    display: grid;
    grid-template-areas: "header header header" "nav main main" "nav main main" "footer footer footer";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr 6fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  #grid-lecturas {
    display: grid;
    grid-template-areas: "header header header" "nav section section" "footer footer footer";
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 1fr 3fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    background-color: #BFD8D2;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  #grid-index {
    display: grid;
    grid-template-areas: "header header header" "nav section lateral" "footer footer footer";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  #grid-niveles {
    display: grid;
    grid-template-areas: "header header header" "nav section lateral" "footer footer footer";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  #grid-contacto {
    display: grid;
    grid-template-areas: "header header header" "nav main main" "footer footer footer";
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  nav {
    grid-area: nav;
    display: flex;
    flex-flow: column wrap;
  }
}
@media (max-width: 479px) {
  #grid-index {
    display: grid;
    grid-template-areas: "header header" "nav section" "nav main" "lateral lateral" "footer footer";
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  #grid-niveles {
    display: grid;
    grid-template-areas: "header header" "nav section" "nav main" "lateral lateral" "footer footer";
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 2fr 2fr 2fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }

  #grid-contacto {
    display: grid;
    grid-template-areas: "header header" "nav main" "nav main" "footer footer";
    grid-template-columns: 25% 75%;
    grid-template-rows: 1fr 3fr 3fr 1fr;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }
}

/*# sourceMappingURL=estilos.css.map */
